*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}


.navigasi{
    background-color: maroon;
    width: 100000px;
    height: 70px;
    color: bisque;
    position: fixed;
}


.logo{
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}


.menu{
    margin-left: 800px;
    padding-top: 27px;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu ul li a{
    text-decoration: none;
    color: bisque;
}

.menu ul li a:hover{
    color: orange;
    font-style: italic;
}

.banner{
    background-color: brown;
    height: 1000px;
    text-align: center;
    color: bisque;
}

.banner img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 6px solid bisque;
    margin-top: 100px;
}


.banner h1{
    margin-top: 10px;
    margin-bottom: 10px;
}


.banner button{
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
    background-color: bisque;
    color: brown;
}

.banner button:hover {
    background-color: brown;
    border: 1px solid bisque;
    color: bisque;
}

.box-pendidikan{
    text-align: center;
    color: maroon;
    margin-top: 30px;
    align-content: center;
}

.sd, .smp, .smk{
    width: 300px;
    height: 320px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 20px;
    margin: 70px 20px 20px 55px;
    border-radius: 15px;
    float: left;

}

.sd:hover, .smp:hover, .smk:hover{
    background-color: brown;
    color: bisque;
}

.box-pendidikan h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding-top: 0px;
    padding: 0px 20px;
}

.box-pendidikan img{
    width: 100px;
    height: 100px;
}

.box-hobi{
    text-align: center;
    color: maroon;
    margin-top: 550px;
    align-content: center;
}

.game, .film, .musik{
    width: 300px;
    height: 320px;
    background-color: #f0f0f0;
    text-align: center;
    padding: 30px 20px;
    margin: 70px 20px 20px 55px;
    border-radius: 15px;
    float: left;

}

.game:hover, .film:hover, .musik:hover{
    background-color: brown;
    color: bisque;
}

.box-hobi h3, p{
    margin-top: 10px;
    margin-bottom: 13px;
    padding-top: 0px;
    padding: 0px 20px;
}

.box-hobi img{
    width: 100px;
    height: 100px;
}

.box-kontak{
    text-align: center;
    color: maroon;
    margin-top: 700px;
    margin-bottom: 30px;

}

.box-kontak img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 5px;
    border-radius: 100px;
}

.footer{
    background-color: maroon;
    width: 500px;
    height: 40px;
    color: bisque;
    padding: 3px;
    margin:  50px auto 0px;
    text-align: center;
}